body {
    color: white;
    background-color: rgb(14, 0, 22);
}

.question {
    text-align: center;
}

.answer {
    display:block;
    text-align: left;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    width: 80%;

    background-color:rgb(52, 2, 82);
    color: white;

    transition: all 0.4s;
}

.answer:hover {
    background-color:rgb(31, 0, 49);
}