body {
    color: white;
    background-color: rgb(14, 0, 22);
}

.header {
    /* Place "Highscores" on the left and "Timer" on the right */
    display: flex;
    justify-content: space-between;

    background-color: rgb(112, 0, 177);
}

.header-item {
    padding: 2rem 0;
    text-align: center;
    background-color: rgb(87, 0, 168);
}

.highscores {
    flex: 0 1 20%;
    color: white;
}

.topic {
    background-color: rgb(112, 0, 177);
}

.timer {    
    flex: 0 1 20%;
}

/* TODO: Border around question */
.question {
    text-align: center;
    padding: 50px 0;

    background-color:rgb(101, 6, 156);
    /* Needed for line breaks */
    white-space: pre-wrap;
}

.option {
    display:block;
    text-align: left;
    margin: 10px auto;
    padding: 10px;
    border: none;
    width: 80%;

    background-color:rgb(52, 2, 82);
    color: white;    
    text-align: center;
    /* Needed for line breaks */
    white-space: pre-wrap;

    transition: all 0.4s;
}

/* Slightly darken answer on hover */
.answer:hover {
    cursor: pointer;
    background-color:rgb(31, 0, 49);
}

.highscore-form {
    text-align: center;
    margin-top: 1rem;
}

.submit-button {
    display: block;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    
    border: none;
    border-radius: 40px;
    background-color:rgb(110, 1, 173);
    color: white;
    
    transition: all 0.4s;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(52, 2, 82);
}
